@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div id="text-div">
    <br>
    <br>
    <h1 class="display-4">Welcome to Jenin Library</h1>
    <p>
        Step into a world of stories, ideas, and endless discovery.<br>
        Welcome to <strong><em>JENIN Library</em></strong> where every page holds a new adventure.
    </p>

    <a class="btn btn-success" href="/Users/Login">Login</a>
    <hr class="w-50 bg-success">
    <img src="/images/jenin_library_icon.png" class="position-relative">

</div>
